h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
div{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
}