body{
    background-color:beige;
    width: 100%;
    height: 100%;
    position: relative;
}



header img{
    position:relative;
    left: 520px;
    width: 300px;
    height: 150px;
    display: block;
}


 h1{
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 35px;
}


.card-box{
    position: relative;
    width: 45vh;
    height: 55vh;
    padding: 0.5vh;
    margin: 25px 20px 20px 25px;
    float: left;
}

.card-box .card-content{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background-color: grey;
    border: 2px solid black;
    border-radius: 10px;
}

.card-content .imgCard{
    position: relative;
    width: 270px;
    height: 250px;
    margin: 5px;
    display: block;
    border: 1px solid black;
    border-radius: 10px;
}

.imgCard .imgP{
    position: relative;
    max-width: 100%;
}

.card-content .nameCard{
    text-align: center;
    font-size: 5vh;
    font-weight: 900;


}

a{
    text-decoration: none;
    color: black;
}

