
body{
    background-color:#ffe4c1;
    width: 100%;
    height: 100%;
    position: relative;
}

header img{
    position:relative;
    left: 520px;
    width: 300px;
    height: 150px;
    display: block;
}


 h1{
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 35px;

}

div {
    width: 300px;
    height: 300px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

div img{
    width: 280px;
    height: 250px;
}

div a{
    text-align: center;
    font-size: 20px;
    text-decoration: none;
}
a:hover{
    color: #ff0000;
}




