body {
    margin: 0;
    padding: 0;
    background: #BDD5EA;

}
.name{
    width: 100%;
    height: 300px;
    background: #F7F7FF;
    transform: skewY(-5deg); 
    text-align: center;
}

.name .content {
    width: 50%;
    height: 50%;
    position: absolute;
    left: 25%;
    text-align: center;
}
.name .img{
    position: absolute;
    top: 18%;
    right: 5%;
    width: 180px;
    height: 180px;
    border-radius: 100%;
    transform: skewY(5deg);
    overflow: hidden;
}
name .img img {
    width: 160px;
    height: 160px;

}
.p-1 {
    color: rgb(21, 21, 21);
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: x-large;
    transform: skewY(5deg); 
    margin-bottom: 0;
}
.p-2 {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 35px;
    transform: skewY(5deg); 
    margin-top: 0;
    margin-bottom: 0;
}

.info{
    width: 70%;
    height: auto;
    background: #F7F7FF;
    margin: 5% auto;
    padding: 10px;
    border-radius: 30px;

}

.info .tituloSeccion{
    color: #0c0c0c;
    font-family: 'Roboto', sans-serif;
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
    border-bottom: 2px #BDD5EA dashed;


}

.info .Tituloinfo{
    color: #0c0c0c;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: large;
    text-align: start;
    
}

.info .Infoinfo{
    color: #0c0c0c;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: large;
    right: 50px;
    text-align: start;
} 
