body {
    margin: 0;
    padding: 0;
    background: #BDD5EA;

}
.name{
    width: 100%;
    height: 300px;
    background: #F7F7FF;
    transform: skewY(-5deg); 
    text-align: center;
}

.name .content {
    width: 50%;
    height: 50%;
    position: absolute;
    left: 25%;
    text-align: center;
}